@using ProjetoDriptz.Enums
@model UsuarioModel


<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Olá, @Model.Nome</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Cadastros Básicos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" asp-area="" asp-controller="Produto" asp-action="Index">Cadastro de Produtos</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="" asp-controller="Estoque" asp-action="Index">Estoque de Produtos</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="" asp-controller="Venda" asp-action="Criar">Realizar Venda</a>
                </li>
            </ul>
        </li>


        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Dados
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Venda" asp-action="Index">Vendas Realizadas</a>
                </li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Relatórios
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Relatorios" asp-action="Index">Relatório de Vendas no mês</a>
                </li>
            </ul>
        </li>
 


        @if (Model.Perfil == (int)PerfilUsuario.Administrador)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index">Usuários</a>
            </li>

        }

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="AlterarSenha" asp-action="Index">Alterar Senha</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Sair">Sair</a>
        </li>
       

    </ul>
</div>