@model HomeModel
@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo, @Model.Nome</h1>
    <p>Sistema de Cadastro de Produtos</p>
    <span> @Model.Email </span>
</div>
